In [14]:
# Import libraries
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

In [15]:
import pandas as pd
combine=pd.read_excel('ResponseSP17_BCS_012.xlsx') # enter filename which you have earlier merge it by my program
url=combine['link']
start=76
end=101 # +1 krke add krna andr
combine=combine[start:end]

df=pd.DataFrame(columns=['News','Link'])
classname="span-16 story-content last mobile-story-content fix-l-r"

In [16]:
appended_data = []
for i in range(len(url)):
    content = requests.get(url[i])
    #print(url[i])
    print(i)
    page=requests.get(url[i])
    soup = BeautifulSoup(page.content, 'html.parser')
    tags = soup.find('div',{ "class" : classname}) 
    p=tags.find_all('p')
    
    #strong=p[0].find('strong',{'class':'location'}).get_text()
    news=""
    for ji in range(len(p)):
        news=news+p[ji].get_text()
    news.replace('\xa0',' ')
    #print(news)
    df2=pd.DataFrame({"Index":i,'News':news,'Link':url[i]},index=[i])
    appended_data.append(df2)
    #df=df.append({'News':news,'Link':url[i]},ignore_index=True)
    
appended_data = pd.concat(appended_data) 
appended_data.head()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

,Index,News,Link
0,0,لاہور: انضمام الحق نے بابر اعظم پر توقعات کا ...,https://www.express.pk/story/1149950/16
1,1,لندن: چمکتے ڈالرز سے نوجوان کرکٹرز کی آنکھی...,https://www.express.pk/story/1149928/16
2,2,لاہور: محمد حفیظ ایک بار پھر بولنگ ایکشن ٹیسٹ...,https://www.express.pk/story/1149930/16
3,3,لاہور: ’’ون مین اسپن آرمی‘‘ سے انگلینڈ فتح ...,https://www.express.pk/story/1149934/16
4,4,ممبئی: ویسٹ انڈین آل رائونڈر ڈیوائن براوو ن...,https://www.express.pk/story/1149947/16

In [18]:

appended_data.to_excel('ResponseFinal.xlsx')